In [1]:
# Libraries

import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("Train_HP.csv")
test = pd.read_csv("Test_HP.csv")

In [3]:
train.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
train["source"] = "train"
test["source"] = "test"

In [5]:
df = pd.concat([train,test])
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,source
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,train
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,train
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,train
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,train
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,train
...,...,...,...,...,...,...,...,...,...,...
1475,Super built-up Area,Ready To Move,Vittasandra,2 BHK,Prlla C,1246,2.0,1.0,NaN,test
1476,Super built-up Area,Ready To Move,Gottigere,3 BHK,NaN,1660,3.0,2.0,NaN,test
1477,Super built-up Area,Ready To Move,Channasandra,2 BHK,Unm 2El,1216,2.0,2.0,NaN,test
1478,Built-up Area,18-Feb,Tumkur Road,2 BHK,Sahtsva,996,2.0,1.0,NaN,test
1479,Built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,MaicaRS,1150,2.0,2.0,NaN,test

In [6]:
df.rename(columns={"RERA": "AREA"})

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,source
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,train
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,train
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,train
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,train
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,train
...,...,...,...,...,...,...,...,...,...,...
1475,Super built-up Area,Ready To Move,Vittasandra,2 BHK,Prlla C,1246,2.0,1.0,NaN,test
1476,Super built-up Area,Ready To Move,Gottigere,3 BHK,NaN,1660,3.0,2.0,NaN,test
1477,Super built-up Area,Ready To Move,Channasandra,2 BHK,Unm 2El,1216,2.0,2.0,NaN,test
1478,Built-up Area,18-Feb,Tumkur Road,2 BHK,Sahtsva,996,2.0,1.0,NaN,test
1479,Built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,MaicaRS,1150,2.0,2.0,NaN,test

In [7]:
df=df.rename(columns={"RERA": "AREA"})

In [8]:
df_number_columns=df.select_dtypes(include = np.number).columns

In [9]:
df_category_columns = df.select_dtypes(exclude = np.number).columns

In [10]:
data_to_encode = df[df_category_columns].drop(columns = ["source"])
df_category_encoded = pd.get_dummies(data_to_encode)

In [11]:
df_category_encoded

,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,availability_14-Jul,availability_14-Nov,availability_15-Aug,availability_15-Dec,availability_15-Jun,availability_15-Nov,...,total_sqft_990,total_sqft_991,total_sqft_992,total_sqft_993,total_sqft_994,total_sqft_995,total_sqft_996,total_sqft_997,total_sqft_998,total_sqft_999
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1476,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1477,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1478,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1479,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df_final = pd.concat([df_category_encoded, df[df_number_columns],df["source"]], axis= 1)

In [13]:
df_final

,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,availability_14-Jul,availability_14-Nov,availability_15-Aug,availability_15-Dec,availability_15-Jun,availability_15-Nov,...,total_sqft_994,total_sqft_995,total_sqft_996,total_sqft_997,total_sqft_998,total_sqft_999,bath,balcony,price,source
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,2.0,1.0,39.07,train
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5.0,3.0,120.00,train
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2.0,3.0,62.00,train
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,3.0,1.0,95.00,train
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,2.0,1.0,51.00,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,2.0,1.0,NaN,test
1476,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,3.0,2.0,NaN,test
1477,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,2.0,2.0,NaN,test
1478,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,2.0,1.0,NaN,test
1479,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2.0,2.0,NaN,test

In [14]:
train_preprocessed = df_final[df_final["source"]=="train"]
test_preprocessed = df_final[df_final["source"]=="test"]

In [15]:
del train_preprocessed["source"]
del test_preprocessed["source"]

In [16]:
train_preprocessed.to_csv("train_HPPSales_Preprocessed.csv", index = False)
test_preprocessed.to_csv("test_HPPSales_Preprocessed.csv", index = False)